#header
  %ul#navigation
    - @categories.each do |category|
      %li{id: 'link-'"#{category.name}"}
        = link_to "#{category.name}", controller: "pictures", action: "select", id: category.name
.content
  %h2
    All pictures
  %span
    =paginate @pictures, :window => 2
  %ul.picture-box
    - @pictures.each do |picture|
      %li
        %figure.cap-left
          %a{href:picture_path(picture)}
            = image_tag picture.filename.url(:thumb)
          %figcaption
            = picture.title

