- cache "menu" do
  .search.pull-right
    = form_for Picture.new, :url => pictures_path do |f|
      = f.text_field :title, placeholder: t('pictures.placeholder')
      = f.submit value: t('buttons.search'),class: 'btn'
  #header.span4
    %ul#navigation
      - @categories.each do |category|
        %li{id: 'link-'"#{category.name}"}
          = image_tag 'subscribe.png',class:'pull-right subscribe',name:category.id
          = link_to category.name, "/pictures/category/#{category.name}", id: category.name
- cache @pictures do
  .content.span7
    %h2
      = t('application.title')
    %span
      = paginate @pictures, :window => 2, :route => :selected_items
    %ul
      - @pictures.each do |picture|
        %li.picture-box
          %figure.cap-left
            %a{href:picture_path(picture)}
              = image_tag picture.filename.url(:thumb)
            %figcaption
              = picture.title
